.card-body {
    background-color: rgb(224, 214, 214);
    border: 1px;
    margin: 1px;
    
}
.row {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.card {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
